<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[df给力]</key>
	<string>geili_thumb.gif</string>
	<key>[df围观]</key>
	<string>wg_thumb.gif</string>
	<key>[df威武]</key>
	<string>vw_thumb.gif</string>
	<key>[df呵呵]</key>
	<string>smilea_thumb.gif</string>
	<key>[df嘻嘻]</key>
	<string>tootha_thumb.gif</string>
	<key>[df哈哈]</key>
	<string>laugh.gif</string>
	<key>[df可爱]</key>
	<string>tza_thumb.gif</string>
	<key>[df可怜]</key>
	<string>kl_thumb.gif</string>
	<key>[df挖鼻屎]</key>
	<string>kbsa_thumb.gif</string>
	<key>[df吃惊]</key>
	<string>cj_thumb.gif</string>
	<key>[df害羞]</key>
	<string>shamea_thumb.gif</string>
	<key>[df挤眼]</key>
	<string>zy_thumb.gif</string>
	<key>[df闭嘴]</key>
	<string>bz_thumb.gif</string>
	<key>[df鄙视]</key>
	<string>bs2_thumb.gif</string>
	<key>[df爱你]</key>
	<string>lovea_thumb.gif</string>
	<key>[df泪]</key>
	<string>sada_thumb.gif</string>
	<key>[df偷笑]</key>
	<string>heia_thumb.gif</string>
	<key>[df亲亲]</key>
	<string>qq_thumb.gif</string>
	<key>[df生病]</key>
	<string>sb_thumb.gif</string>
	<key>[df太开心]</key>
	<string>mb_thumb.gif</string>
	<key>[df懒得理你]</key>
	<string>ldln_thumb.gif</string>
	<key>[df右哼哼]</key>
	<string>yhh_thumb.gif</string>
	<key>[df左哼哼]</key>
	<string>zhh_thumb.gif</string>
	<key>[df嘘]</key>
	<string>x_thumb.gif</string>
	<key>[df衰]</key>
	<string>cry.gif</string>
	<key>[df委屈]</key>
	<string>wq_thumb.gif</string>
	<key>[df吐]</key>
	<string>t_thumb.gif</string>
	<key>[df打哈欠]</key>
	<string>k_thumb.gif</string>
	<key>[df抱抱]</key>
	<string>bba_thumb.gif</string>
	<key>[df怒]</key>
	<string>angrya_thumb.gif</string>
	<key>[df疑问]</key>
	<string>yw_thumb.gif</string>
	<key>[df馋嘴]</key>
	<string>cza_thumb.gif</string>
	<key>[df拜拜]</key>
	<string>bb_thumb.gif</string>
	<key>[df思考]</key>
	<string>sk_thumb.gif</string>
	<key>[df汗]</key>
	<string>sweata_thumb.gif</string>
	<key>[df困]</key>
	<string>sleepya_thumb.gif</string>
	<key>[df睡觉]</key>
	<string>sleepa_thumb.gif</string>
	<key>[df钱]</key>
	<string>money_thumb.gif</string>
	<key>[df失望]</key>
	<string>sw_thumb.gif</string>
	<key>[df酷]</key>
	<string>cool_thumb.gif</string>
	<key>[df花心]</key>
	<string>hsa_thumb.gif</string>
	<key>[df哼]</key>
	<string>hatea_thumb.gif</string>
	<key>[df鼓掌]</key>
	<string>gza_thumb.gif</string>
	<key>[df晕]</key>
	<string>dizzya_thumb.gif</string>
	<key>[df悲伤]</key>
	<string>bs_thumb.gif</string>
	<key>[df抓狂]</key>
	<string>crazya_thumb.gif</string>
	<key>[df黑线]</key>
	<string>h_thumb.gif</string>
	<key>[df阴险]</key>
	<string>yx_thumb.gif</string>
	<key>[df握手]</key>
	<string>ws_thumb.gif</string>
	<key>[df心]</key>
	<string>hearta_thumb.gif</string>
	<key>[df伤心]</key>
	<string>unheart.gif</string>
	<key>[dfok]</key>
	<string>ok_thumb.gif</string>
	<key>[df耶]</key>
	<string>ye_thumb.gif</string>
	<key>[dfgood]</key>
	<string>good_thumb.gif</string>
	<key>[pt顶一个]</key>
	<string>1.gif</string>
	<key>[pt赞一个]</key>
	<string>2.gif</string>
	<key>[pt掌声]</key>
	<string>3.gif</string>
	<key>[pt鲜花]</key>
	<string>4.gif</string>
	<key>[pt看多]</key>
	<string>5.gif</string>
	<key>[pt看空]</key>
	<string>6.gif</string>
	<key>[pt盘整]</key>
	<string>7.gif</string>
	<key>[lt搞基]</key>
	<string>lt00.gif</string>
	<key>[lt拽]</key>
	<string>lt01.gif</string>
	<key>[lt惊讶]</key>
	<string>lt02.gif</string>
	<key>[lt色迷迷]</key>
	<string>lt03.gif</string>
	<key>[lt切克闹]</key>
	<string>lt04.gif</string>
	<key>[lt美少女]</key>
	<string>lt05.gif</string>
	<key>[lt跳舞]</key>
	<string>lt06.gif</string>
	<key>[lt尴尬]</key>
	<string>lt07.gif</string>
	<key>[lt力量]</key>
	<string>lt08.gif</string>
	<key>[lt隐蔽]</key>
	<string>lt09.gif</string>
	<key>[lt小丑]</key>
	<string>lt10.gif</string>
	<key>[lt哟哟]</key>
	<string>lt11.gif</string>
	<key>[lt钢管舞]</key>
	<string>lt12.gif</string>
	<key>[lt心动]</key>
	<string>lt13.gif</string>
	<key>[lt睡觉]</key>
	<string>lt14.gif</string>
	<key>[lt庆祝]</key>
	<string>lt15.gif</string>
	<key>[lt哦耶]</key>
	<string>lt16.gif</string>
	<key>[lt摇头晃脑]</key>
	<string>lt17.gif</string>
	<key>[lt踩狗屎]</key>
	<string>lt18.gif</string>
	<key>[lt揪心]</key>
	<string>lt19.gif</string>
	<key>[lt哇咔咔]</key>
	<string>lt20.gif</string>
	<key>[lt睡不着]</key>
	<string>lt21.gif</string>
	<key>[lt惬意]</key>
	<string>lt22.gif</string>
	<key>[lt热]</key>
	<string>lt23.gif</string>
	<key>[lt眼前一亮]</key>
	<string>lt24.gif</string>
	<key>[lt喜欢]</key>
	<string>lt25.gif</string>
	<key>[lt狂敲键盘]</key>
	<string>lt26.gif</string>
	<key>[lt放屁]</key>
	<string>lt27.gif</string>
	<key>[lt购物]</key>
	<string>lt28.gif</string>
	<key>[lt擦]</key>
	<string>lt29.gif</string>
	<key>[lt亲亲]</key>
	<string>lt30.gif</string>
	<key>[lt失落]</key>
	<string>lt31.gif</string>
	<key>[lt鼓掌]</key>
	<string>lt32.gif</string>
	<key>[lt疯了]</key>
	<string>lt33.gif</string>
	<key>[lt无语]</key>
	<string>lt34.gif</string>
	<key>[lt点头]</key>
	<string>lt35.gif</string>
	<key>[lt冷]</key>
	<string>lt36.gif</string>
	<key>[lt生日快乐]</key>
	<string>lt37.gif</string>
	<key>[lt抠鼻]</key>
	<string>lt38.gif</string>
	<key>[lt打击]</key>
	<string>lt39.gif</string>
	<key>[lt潜水]</key>
	<string>lt40.gif</string>
	<key>[lt吃饭]</key>
	<string>lt41.gif</string>
	<key>[lt吓]</key>
	<string>lt42.gif</string>
	<key>[lt阴险]</key>
	<string>lt43.gif</string>
	<key>[lt摇一摇]</key>
	<string>lt44.gif</string>
	<key>[lt上厕所]</key>
	<string>lt45.gif</string>
	<key>[lt爬]</key>
	<string>lt46.gif</string>
	<key>[lt得瑟]</key>
	<string>lt47.gif</string>
	<key>[lt得意]</key>
	<string>lt48.gif</string>
	<key>[lt抓狂]</key>
	<string>lt49.gif</string>
	<key>[lt浮云]</key>
	<string>lt50.gif</string>
	<key>[lt斗志]</key>
	<string>lt51.gif</string>
	<key>[lt撒娇]</key>
	<string>lt52.gif</string>
	<key>[lt泪奔]</key>
	<string>lt53.gif</string>
	<key>[lt棒棒哒]</key>
	<string>lt54.gif</string>
	<key>[lt骑马]</key>
	<string>lt55.gif</string>
	<key>[hz厕所]</key>
	<string>hz00.gif</string>
	<key>[hz切克闹]</key>
	<string>hz01.gif</string>
	<key>[hz拜拜]</key>
	<string>hz02.gif</string>
	<key>[hz拜托]</key>
	<string>hz03.gif</string>
	<key>[hz无语]</key>
	<string>hz04.gif</string>
	<key>[hz看]</key>
	<string>hz05.gif</string>
	<key>[hz捧腹大笑]</key>
	<string>hz06.gif</string>
	<key>[hz得意]</key>
	<string>hz07.gif</string>
	<key>[hz玩游戏]</key>
	<string>hz08.gif</string>
	<key>[hz惊呆]</key>
	<string>hz09.gif</string>
	<key>[hz放鞭炮]</key>
	<string>hz10.gif</string>
	<key>[hz猫王]</key>
	<string>hz11.gif</string>
	<key>[hz冷]</key>
	<string>hz12.gif</string>
	<key>[hz鼓掌]</key>
	<string>hz13.gif</string>
	<key>[hz小样]</key>
	<string>hz14.gif</string>
	<key>[hz偷笑]</key>
	<string>hz15.gif</string>
	<key>[hz爱你]</key>
	<string>hz16.gif</string>
	<key>[hz胜利]</key>
	<string>hz17.gif</string>
	<key>[hz呐喊]</key>
	<string>hz18.gif</string>
	<key>[hz发呆]</key>
	<string>hz19.gif</string>
	<key>[hz么么哒]</key>
	<string>hz20.gif</string>
	<key>[hz眨眼]</key>
	<string>hz21.gif</string>
	<key>[hz可怜]</key>
	<string>hz22.gif</string>
	<key>[hz念经]</key>
	<string>hz23.gif</string>
	<key>[hz吐]</key>
	<string>hz24.gif</string>
	<key>[hz愤怒]</key>
	<string>hz25.gif</string>
	<key>[hz切]</key>
	<string>hz26.gif</string>
	<key>[hz圣诞节]</key>
	<string>hz27.gif</string>
	<key>[hz生快]</key>
	<string>hz28.gif</string>
	<key>[hz数钱]</key>
	<string>hz29.gif</string>
	<key>[hz又数钱]</key>
	<string>hz30.gif</string>
	<key>[hz刷牙]</key>
	<string>hz31.gif</string>
	<key>[hz帅]</key>
	<string>hz32.gif</string>
	<key>[hz惊恐]</key>
	<string>hz33.gif</string>
	<key>[hz躲猫猫]</key>
	<string>hz34.gif</string>
	<key>[hz俏皮]</key>
	<string>hz35.gif</string>
	<key>[hz抠鼻]</key>
	<string>hz36.gif</string>
	<key>[hz得瑟]</key>
	<string>hz37.gif</string>
	<key>[hz乞求]</key>
	<string>hz38.gif</string>
	<key>[hz哭天喊地]</key>
	<string>hz39.gif</string>
	<key>[hz汗]</key>
	<string>hz40.gif</string>
	<key>[hz石化]</key>
	<string>hz41.gif</string>
	<key>[hz死翘翘]</key>
	<string>hz42.gif</string>
	<key>[hz疑问]</key>
	<string>hz43.gif</string>
	<key>[hz晕]</key>
	<string>hz44.gif</string>
	<key>[hz干活]</key>
	<string>hz45.gif</string>
	<key>[hz抽烟]</key>
	<string>hz46.gif</string>
	<key>[pb哟西]</key>
	<string>pb0.gif</string>
	<key>[pb捏脸]</key>
	<string>pb1.gif</string>
	<key>[pb委屈]</key>
	<string>pb2.gif</string>
	<key>[pb伤心]</key>
	<string>pb3.gif</string>
	<key>[pb喵呜]</key>
	<string>pb4.gif</string>
	<key>[pb娇羞]</key>
	<string>pb5.gif</string>
	<key>[pb开枪]</key>
	<string>pb6.gif</string>
	<key>[pb哇哦]</key>
	<string>pb7.gif</string>
	<key>[pb无语]</key>
	<string>pb8.gif</string>
	<key>[pb鄙视]</key>
	<string>pb9.gif</string>
	<key>[pb难吃]</key>
	<string>pb10.gif</string>
	<key>[pb亲亲]</key>
	<string>pb11.gif</string>
	<key>[pb流口水]</key>
	<string>pb12.gif</string>
	<key>[pb巨汗]</key>
	<string>pb13.gif</string>
	<key>[pb开心]</key>
	<string>pb14.gif</string>
	<key>[pb吐]</key>
	<string>pb15.gif</string>
	<key>[pb飘过]</key>
	<string>pb16.gif</string>
	<key>[pb吃饭]</key>
	<string>pb17.gif</string>
	<key>[pb打死你]</key>
	<string>pb18.gif</string>
	<key>[pb路过]</key>
	<string>pb19.gif</string>
	<key>[pb烧香]</key>
	<string>pb20.gif</string>
	<key>[pb吓]</key>
	<string>pb21.gif</string>
	<key>[pb好喜欢]</key>
	<string>pb22.gif</string>
	<key>[pb弹]</key>
	<string>pb23.gif</string>
	<key>[pb拜拜]</key>
	<string>pb24.gif</string>
	<key>[pb晕]</key>
	<string>pb25.gif</string>
	<key>[pb咻]</key>
	<string>pb26.gif</string>
	<key>[pb舔屏]</key>
	<string>pb27.gif</string>
	<key>[pb瞌睡]</key>
	<string>pb28.gif</string>
	<key>[pb潜水]</key>
	<string>pb29.gif</string>
	<key>[pb害怕]</key>
	<string>pb30.gif</string>
	<key>[pb闭嘴]</key>
	<string>pb31.gif</string>
	<key>[pb囧]</key>
	<string>pb32.gif</string>
	<key>[pb哇咔咔]</key>
	<string>pb33.gif</string>
	<key>[pb么么哒]</key>
	<string>pb34.gif</string>
	<key>[pb别过来]</key>
	<string>pb35.gif</string>
	<key>[pb切]</key>
	<string>pb36.gif</string>
	<key>[pb悠闲]</key>
	<string>pb37.gif</string>
	<key>[pb哼]</key>
	<string>pb38.gif</string>
	<key>[pb津津有味]</key>
	<string>pb39.gif</string>
	<key>[pb鼓掌]</key>
	<string>pb40.gif</string>
	<key>[pb自残]</key>
	<string>pb41.gif</string>
	<key>[pb呸]</key>
	<string>pb42.gif</string>
	<key>[pb血腥]</key>
	<string>pb43.gif</string>
	<key>[pb抠鼻]</key>
	<string>pb44.gif</string>
	<key>[pb佩服]</key>
	<string>pb45.gif</string>
	<key>[pb大哭]</key>
	<string>pb46.gif</string>
	<key>[pb吃我一拳]</key>
	<string>pb47.gif</string>
	<key>[pb噢呵呵]</key>
	<string>pb48.gif</string>
	<key>[pb流鼻血]</key>
	<string>pb49.gif</string>
	<key>[pb吸血鬼]</key>
	<string>pb50.gif</string>
	<key>[pb中毒]</key>
	<string>pb51.gif</string>
	<key>[pb爆头]</key>
	<string>pb52.gif</string>
	<key>[pb僵尸]</key>
	<string>pb53.gif</string>
	<key>[x飞行]</key>
	<string>x00.gif</string>
	<key>[x诅咒]</key>
	<string>x01.gif</string>
	<key>[x吓]</key>
	<string>x02.gif</string>
	<key>[x怒]</key>
	<string>x03.gif</string>
	<key>[x生气]</key>
	<string>x04.gif</string>
	<key>[x吐]</key>
	<string>x05.gif</string>
	<key>[x爱心]</key>
	<string>x06.gif</string>
	<key>[x愤怒]</key>
	<string>x07.gif</string>
	<key>[x倒霉]</key>
	<string>x08.gif</string>
	<key>[x目瞪口呆]</key>
	<string>x09.gif</string>
	<key>[x得瑟]</key>
	<string>x10.gif</string>
	<key>[x旋转]</key>
	<string>x11.gif</string>
	<key>[x汗]</key>
	<string>x12.gif</string>
	<key>[x感动]</key>
	<string>x13.gif</string>
	<key>[x拽]</key>
	<string>x14.gif</string>
	<key>[xDuang]</key>
	<string>x15.gif</string>
	<key>[x可怜]</key>
	<string>x16.gif</string>
	<key>[x哦耶]</key>
	<string>x17.gif</string>
	<key>[x委屈]</key>
	<string>x18.gif</string>
	<key>[x拜拜]</key>
	<string>x19.gif</string>
	<key>[x抓狂]</key>
	<string>x20.gif</string>
	<key>[x发火]</key>
	<string>x21.gif</string>
	<key>[x喜欢]</key>
	<string>x22.gif</string>
	<key>[x石化]</key>
	<string>x23.gif</string>
	<key>[xgo]</key>
	<string>x24.gif</string>
	<key>[x路过]</key>
	<string>x25.gif</string>
	<key>[x惊吓]</key>
	<string>x26.gif</string>
	<key>[x又发火]</key>
	<string>x27.gif</string>
	<key>[x侠客]</key>
	<string>x28.gif</string>
	<key>[x得意]</key>
	<string>x29.gif</string>
	<key>[x又生气]</key>
	<string>x30.gif</string>
	<key>[x飘过]</key>
	<string>x31.gif</string>
	<key>[x撒娇]</key>
	<string>x32.gif</string>
	<key>[x不好意思]</key>
	<string>x33.gif</string>
	<key>[x痛]</key>
	<string>x34.gif</string>
	<key>[x抠鼻]</key>
	<string>x35.gif</string>
	<key>[x得瑟到不行]</key>
	<string>x36.gif</string>
	<key>[x疑问]</key>
	<string>x37.gif</string>
	<key>[x生病]</key>
	<string>x38.gif</string>
	<key>[x无语]</key>
	<string>x39.gif</string>
	<key>[x又路过]</key>
	<string>x40.gif</string>
	<key>[x再次生气]</key>
	<string>x41.gif</string>
	<key>[x兴奋]</key>
	<string>x42.gif</string>
</dict>
</plist>
