<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geili_thumb.gif</key>
	<string>[df给力]</string>
	<key>wg_thumb.gif</key>
	<string>[df围观]</string>
	<key>vw_thumb.gif</key>
	<string>[df威武]</string>
	<key>smilea_thumb.gif</key>
	<string>[df呵呵]</string>
	<key>tootha_thumb.gif</key>
	<string>[df嘻嘻]</string>
	<key>laugh.gif</key>
	<string>[df哈哈]</string>
	<key>tza_thumb.gif</key>
	<string>[df可爱]</string>
	<key>kl_thumb.gif</key>
	<string>[df可怜]</string>
	<key>kbsa_thumb.gif</key>
	<string>[df挖鼻屎]</string>
	<key>cj_thumb.gif</key>
	<string>[df吃惊]</string>
	<key>shamea_thumb.gif</key>
	<string>[df害羞]</string>
	<key>zy_thumb.gif</key>
	<string>[df挤眼] </string>
	<key>bz_thumb.gif</key>
	<string>[df闭嘴]</string>
	<key>bs2_thumb.gif</key>
	<string>[df鄙视]</string>
	<key>lovea_thumb.gif</key>
	<string>[df爱你]</string>
	<key>sada_thumb.gif</key>
	<string>[df泪]</string>
	<key>heia_thumb.gif</key>
	<string>[df偷笑]</string>
	<key>qq_thumb.gif</key>
	<string>[df亲亲]</string>
	<key>sb_thumb.gif</key>
	<string>[df生病]</string>
	<key>mb_thumb.gif</key>
	<string>[df太开心]</string>
	<key>ldln_thumb.gif</key>
	<string>[df懒得理你]</string>
	<key>yhh_thumb.gif</key>
	<string>[df右哼哼] </string>
	<key>zhh_thumb.gif</key>
	<string>[df左哼哼]</string>
	<key>x_thumb.gif</key>
	<string>[df嘘]</string>
	<key>cry.gif</key>
	<string>[df衰]</string>
	<key>wq_thumb.gif</key>
	<string>[df委屈]</string>
	<key>t_thumb.gif</key>
	<string>[df吐]</string>
	<key>k_thumb.gif</key>
	<string>[df打哈欠] </string>
	<key>bba_thumb.gif</key>
	<string>[df抱抱]</string>
	<key>angrya_thumb.gif</key>
	<string>[df怒]</string>
	<key>yw_thumb.gif</key>
	<string>[df疑问]</string>
	<key>cza_thumb.gif</key>
	<string>[df馋嘴]</string>
	<key>bb_thumb.gif</key>
	<string>[df拜拜]</string>
	<key>sk_thumb.gif</key>
	<string>[df思考]</string>
	<key>sweata_thumb.gif</key>
	<string>[df汗]</string>
	<key>sleepya_thumb.gif</key>
	<string>[df困]</string>
	<key>sleepa_thumb.gif</key>
	<string>[df睡觉]</string>
	<key>money_thumb.gif</key>
	<string>[df钱] </string>
	<key>sw_thumb.gif</key>
	<string>[df失望]</string>
	<key>cool_thumb.gif</key>
	<string>[df酷]</string>
	<key>hsa_thumb.gif</key>
	<string>[df花心]</string>
	<key>hatea_thumb.gif</key>
	<string>[df哼]</string>
	<key>gza_thumb.gif</key>
	<string>[df鼓掌]</string>
	<key>dizzya_thumb.gif</key>
	<string>[df晕]</string>
	<key>bs_thumb.gif</key>
	<string>[df悲伤]</string>
	<key>crazya_thumb.gif</key>
	<string>[df抓狂]</string>
	<key>h_thumb.gif</key>
	<string>[df黑线]</string>
	<key>yx_thumb.gif</key>
	<string>[df阴险]</string>
	<key>ws_thumb.gif</key>
	<string>[df握手]</string>
	<key>hearta_thumb.gif</key>
	<string>[df心]</string>
	<key>unheart.gif</key>
	<string>[df伤心]</string>
	<key>ok_thumb.gif</key>
	<string>[dfok]</string>
	<key>ye_thumb.gif</key>
	<string>[df耶]</string>
	<key>good_thumb.gif</key>
	<string>[dfgood] </string>
</dict>
</plist>
