<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lt00.gif</key>
	<string>[lt搞基]</string>
	<key>lt01.gif</key>
	<string>[lt拽]</string>
	<key>lt02.gif</key>
	<string>[lt惊讶]</string>
	<key>lt03.gif</key>
	<string>[lt色迷迷]</string>
	<key>lt04.gif</key>
	<string>[lt切克闹]</string>
	<key>lt05.gif</key>
	<string>[lt美少女]</string>
	<key>lt06.gif</key>
	<string>[lt跳舞]</string>
	<key>lt07.gif</key>
	<string>[lt尴尬]</string>
	<key>lt08.gif</key>
	<string>[lt力量]</string>
	<key>lt09.gif</key>
	<string>[lt隐蔽]</string>
	<key>lt10.gif</key>
	<string>[lt小丑]</string>
	<key>lt11.gif</key>
	<string>[lt哟哟]</string>
	<key>lt12.gif</key>
	<string>[lt钢管舞]</string>
	<key>lt13.gif</key>
	<string>[lt心动]</string>
	<key>lt14.gif</key>
	<string>[lt睡觉]</string>
	<key>lt15.gif</key>
	<string>[lt庆祝]</string>
	<key>lt16.gif</key>
	<string>[lt哦耶]</string>
	<key>lt17.gif</key>
	<string>[lt摇头晃脑]</string>
	<key>lt18.gif</key>
	<string>[lt踩狗屎]</string>
	<key>lt19.gif</key>
	<string>[lt揪心]</string>
	<key>lt20.gif</key>
	<string>[lt哇咔咔]</string>
	<key>lt21.gif</key>
	<string>[lt睡不着]</string>
	<key>lt22.gif</key>
	<string>[lt惬意]</string>
	<key>lt23.gif</key>
	<string>[lt热]</string>
	<key>lt24.gif</key>
	<string>[lt眼前一亮]</string>
	<key>lt25.gif</key>
	<string>[lt喜欢]</string>
	<key>lt26.gif</key>
	<string>[lt狂敲键盘]</string>
	<key>lt27.gif</key>
	<string>[lt放屁]</string>
	<key>lt28.gif</key>
	<string>[lt购物]</string>
	<key>lt29.gif</key>
	<string>[lt擦]</string>
	<key>lt30.gif</key>
	<string>[lt亲亲]</string>
	<key>lt31.gif</key>
	<string>[lt失落]</string>
	<key>lt32.gif</key>
	<string>[lt鼓掌]</string>
	<key>lt33.gif</key>
	<string>[lt疯了]</string>
	<key>lt34.gif</key>
	<string>[lt无语]</string>
	<key>lt35.gif</key>
	<string>[lt点头]</string>
	<key>lt36.gif</key>
	<string>[lt冷]</string>
	<key>lt37.gif</key>
	<string>[lt生日快乐]</string>
	<key>lt38.gif</key>
	<string>[lt抠鼻]</string>
	<key>lt39.gif</key>
	<string>[lt打击]</string>
	<key>lt40.gif</key>
	<string>[lt潜水]</string>
	<key>lt41.gif</key>
	<string>[lt吃饭]</string>
	<key>lt42.gif</key>
	<string>[lt吓]</string>
	<key>lt43.gif</key>
	<string>[lt阴险]</string>
	<key>lt44.gif</key>
	<string>[lt摇一摇]</string>
	<key>lt45.gif</key>
	<string>[lt上厕所]</string>
	<key>lt46.gif</key>
	<string>[lt爬]</string>
	<key>lt47.gif</key>
	<string>[lt得瑟]</string>
	<key>lt48.gif</key>
	<string>[lt得意]</string>
	<key>lt49.gif</key>
	<string>[lt抓狂]</string>
	<key>lt50.gif</key>
	<string>[lt浮云]</string>
	<key>lt51.gif</key>
	<string>[lt斗志]</string>
	<key>lt52.gif</key>
	<string>[lt撒娇]</string>
	<key>lt53.gif</key>
	<string>[lt泪奔]</string>
	<key>lt54.gif</key>
	<string>[lt棒棒哒]</string>
	<key>lt55.gif</key>
	<string>[lt骑马]</string>
</dict>
</plist>
