<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pb0.gif</key>
	<string>[xy哟西]</string>
	<key>pb1.gif</key>
	<string>[xy捏脸]</string>
	<key>pb2.gif</key>
	<string>[xy委屈]</string>
	<key>pb3.gif</key>
	<string>[xy伤心]</string>
	<key>pb4.gif</key>
	<string>[xy喵呜]</string>
	<key>pb5.gif</key>
	<string>[xy娇羞]</string>
	<key>pb6.gif</key>
	<string>[xy开枪]</string>
	<key>pb7.gif</key>
	<string>[xy哇哦]</string>
	<key>pb8.gif</key>
	<string>[xy无语]</string>
	<key>pb9.gif</key>
	<string>[xy鄙视]</string>
	<key>pb10.gif</key>
	<string>[xy难吃]</string>
	<key>pb11.gif</key>
	<string>[xy亲亲]</string>
	<key>pb12.gif</key>
	<string>[xy流口水]</string>
	<key>pb13.gif</key>
	<string>[xy巨汗]</string>
	<key>pb14.gif</key>
	<string>[xy开心]</string>
	<key>pb15.gif</key>
	<string>[xy吐]</string>
	<key>pb16.gif</key>
	<string>[xy飘过]</string>
	<key>pb17.gif</key>
	<string>[xy吃饭]</string>
	<key>pb18.gif</key>
	<string>[xy打死你]</string>
	<key>pb19.gif</key>
	<string>[xy路过]</string>
	<key>pb20.gif</key>
	<string>[xy烧香]</string>
	<key>pb21.gif</key>
	<string>[xy吓]</string>
	<key>pb22.gif</key>
	<string>[xy好喜欢]</string>
	<key>pb23.gif</key>
	<string>[xy弹]</string>
	<key>pb24.gif</key>
	<string>[xy拜拜]</string>
	<key>pb25.gif</key>
	<string>[xy晕]</string>
	<key>pb26.gif</key>
	<string>[xy咻]</string>
	<key>pb27.gif</key>
	<string>[xy舔屏]</string>
	<key>pb28.gif</key>
	<string>[xy瞌睡]</string>
	<key>pb29.gif</key>
	<string>[xy潜水]</string>
	<key>pb30.gif</key>
	<string>[xy害怕]</string>
	<key>pb31.gif</key>
	<string>[xy闭嘴]</string>
	<key>pb32.gif</key>
	<string>[xy囧]</string>
	<key>pb33.gif</key>
	<string>[xy哇咔咔]</string>
	<key>pb34.gif</key>
	<string>[xy么么哒]</string>
	<key>pb35.gif</key>
	<string>[xy别过来]</string>
	<key>pb36.gif</key>
	<string>[xy切]</string>
	<key>pb37.gif</key>
	<string>[xy悠闲]</string>
	<key>pb38.gif</key>
	<string>[xy哼]</string>
	<key>pb39.gif</key>
	<string>[xy津津有味]</string>
	<key>pb40.gif</key>
	<string>[xy鼓掌]</string>
	<key>pb41.gif</key>
	<string>[xy自残]</string>
	<key>pb42.gif</key>
	<string>[xy呸]</string>
	<key>pb43.gif</key>
	<string>[xy血腥]</string>
	<key>pb44.gif</key>
	<string>[xy抠鼻]</string>
	<key>pb45.gif</key>
	<string>[xy佩服]</string>
	<key>pb46.gif</key>
	<string>[xy大哭]</string>
	<key>pb47.gif</key>
	<string>[xy吃我一拳]</string>
	<key>pb48.gif</key>
	<string>[xy噢呵呵]</string>
	<key>pb49.gif</key>
	<string>[xy流鼻血]</string>
	<key>pb50.gif</key>
	<string>[xy吸血鬼]</string>
	<key>pb51.gif</key>
	<string>[中毒]</string>
	<key>pb52.gif</key>
	<string>[爆头]</string>
	<key>pb53.gif</key>
	<string>[僵尸]</string>
</dict>
</plist>
