<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>x00.gif</key>
	<string>[x飞行]</string>
	<key>x01.gif</key>
	<string>[x诅咒]</string>
	<key>x02.gif</key>
	<string>[x吓]</string>
	<key>x03.gif</key>
	<string>[x怒]</string>
	<key>x04.gif</key>
	<string>[x生气]</string>
	<key>x05.gif</key>
	<string>[x吐]</string>
	<key>x06.gif</key>
	<string>[x爱心]</string>
	<key>x07.gif</key>
	<string>[x愤怒]</string>
	<key>x08.gif</key>
	<string>[x倒霉]</string>
	<key>x09.gif</key>
	<string>[x目瞪口呆]</string>
	<key>x10.gif</key>
	<string>[x得瑟]</string>
	<key>x11.gif</key>
	<string>[x旋转]</string>
	<key>x12.gif</key>
	<string>[x汗]</string>
	<key>x13.gif</key>
	<string>[x感动]</string>
	<key>x14.gif</key>
	<string>[x拽]</string>
	<key>x15.gif</key>
	<string>[xDuang]</string>
	<key>x16.gif</key>
	<string>[x可怜]</string>
	<key>x17.gif</key>
	<string>[x哦耶]</string>
	<key>x18.gif</key>
	<string>[x委屈]</string>
	<key>x19.gif</key>
	<string>[x拜拜]</string>
	<key>x20.gif</key>
	<string>[x抓狂]</string>
	<key>x21.gif</key>
	<string>[x发火]</string>
	<key>x22.gif</key>
	<string>[x喜欢]</string>
	<key>x23.gif</key>
	<string>[x石化]</string>
	<key>x24.gif</key>
	<string>[xgo]</string>
	<key>x25.gif</key>
	<string>[x路过]</string>
	<key>x26.gif</key>
	<string>[x惊吓]</string>
	<key>x27.gif</key>
	<string>[x又发火]</string>
	<key>x28.gif</key>
	<string>[x侠客]</string>
	<key>x29.gif</key>
	<string>[x得意]</string>
	<key>x30.gif</key>
	<string>[x又生气]</string>
	<key>x31.gif</key>
	<string>[x飘过]</string>
	<key>x32.gif</key>
	<string>[x撒娇]</string>
	<key>x33.gif</key>
	<string>[x不好意思]</string>
	<key>x34.gif</key>
	<string>[x痛]</string>
	<key>x35.gif</key>
	<string>[x抠鼻]</string>
	<key>x36.gif</key>
	<string>[x得瑟到不行]</string>
	<key>x37.gif</key>
	<string>[x疑问]</string>
	<key>x38.gif</key>
	<string>[x生病]</string>
	<key>x39.gif</key>
	<string>[x无语]</string>
	<key>x40.gif</key>
	<string>[x又路过]</string>
	<key>x41.gif</key>
	<string>[x再次生气]</string>
	<key>x42.gif</key>
	<string>[x兴奋]</string>
</dict>
</plist>
