<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pb0.gif</key>
	<string>[pb哟西]</string>
	<key>pb1.gif</key>
	<string>[pb捏脸]</string>
	<key>pb2.gif</key>
	<string>[pb委屈]</string>
	<key>pb3.gif</key>
	<string>[pb伤心]</string>
	<key>pb4.gif</key>
	<string>[pb喵呜]</string>
	<key>pb5.gif</key>
	<string>[pb娇羞]</string>
	<key>pb6.gif</key>
	<string>[pb开枪]</string>
	<key>pb7.gif</key>
	<string>[pb哇哦]</string>
	<key>pb8.gif</key>
	<string>[pb无语]</string>
	<key>pb9.gif</key>
	<string>[pb鄙视]</string>
	<key>pb10.gif</key>
	<string>[pb难吃]</string>
	<key>pb11.gif</key>
	<string>[pb亲亲]</string>
	<key>pb12.gif</key>
	<string>[pb流口水]</string>
	<key>pb13.gif</key>
	<string>[pb巨汗]</string>
	<key>pb14.gif</key>
	<string>[pb开心]</string>
	<key>pb15.gif</key>
	<string>[pb吐]</string>
	<key>pb16.gif</key>
	<string>[pb飘过]</string>
	<key>pb17.gif</key>
	<string>[pb吃饭]</string>
	<key>pb18.gif</key>
	<string>[pb打死你]</string>
	<key>pb19.gif</key>
	<string>[pb路过]</string>
	<key>pb20.gif</key>
	<string>[pb烧香]</string>
	<key>pb21.gif</key>
	<string>[pb吓]</string>
	<key>pb22.gif</key>
	<string>[pb好喜欢]</string>
	<key>pb23.gif</key>
	<string>[pb弹]</string>
	<key>pb24.gif</key>
	<string>[pb拜拜]</string>
	<key>pb25.gif</key>
	<string>[pb晕]</string>
	<key>pb26.gif</key>
	<string>[pb咻]</string>
	<key>pb27.gif</key>
	<string>[pb舔屏]</string>
	<key>pb28.gif</key>
	<string>[pb瞌睡]</string>
	<key>pb29.gif</key>
	<string>[pb潜水]</string>
	<key>pb30.gif</key>
	<string>[pb害怕]</string>
	<key>pb31.gif</key>
	<string>[pb闭嘴]</string>
	<key>pb32.gif</key>
	<string>[pb囧]</string>
	<key>pb33.gif</key>
	<string>[pb哇咔咔]</string>
	<key>pb34.gif</key>
	<string>[pb么么哒]</string>
	<key>pb35.gif</key>
	<string>[pb别过来]</string>
	<key>pb36.gif</key>
	<string>[pb切]</string>
	<key>pb37.gif</key>
	<string>[pb悠闲]</string>
	<key>pb38.gif</key>
	<string>[pb哼]</string>
	<key>pb39.gif</key>
	<string>[pb津津有味]</string>
	<key>pb40.gif</key>
	<string>[pb鼓掌]</string>
	<key>pb41.gif</key>
	<string>[pb自残]</string>
	<key>pb42.gif</key>
	<string>[pb呸]</string>
	<key>pb43.gif</key>
	<string>[pb血腥]</string>
	<key>pb44.gif</key>
	<string>[pb抠鼻]</string>
	<key>pb45.gif</key>
	<string>[pb佩服]</string>
	<key>pb46.gif</key>
	<string>[pb大哭]</string>
	<key>pb47.gif</key>
	<string>[pb吃我一拳]</string>
	<key>pb48.gif</key>
	<string>[pb噢呵呵]</string>
	<key>pb49.gif</key>
	<string>[pb流鼻血]</string>
	<key>pb50.gif</key>
	<string>[pb吸血鬼]</string>
	<key>pb51.gif</key>
	<string>[pb中毒]</string>
	<key>pb52.gif</key>
	<string>[pb爆头]</string>
	<key>pb53.gif</key>
	<string>[pb僵尸]</string>
</dict>
</plist>
