<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hz00.gif</key>
	<string>[hz厕所]</string>
	<key>hz01.gif</key>
	<string>[hz切克闹]</string>
	<key>hz02.gif</key>
	<string>[hz拜拜]</string>
	<key>hz03.gif</key>
	<string>[hz拜托]</string>
	<key>hz04.gif</key>
	<string>[hz无语]</string>
	<key>hz05.gif</key>
	<string>[hz看]</string>
	<key>hz06.gif</key>
	<string>[hz捧腹大笑]</string>
	<key>hz07.gif</key>
	<string>[hz得意]</string>
	<key>hz08.gif</key>
	<string>[hz玩游戏]</string>
	<key>hz09.gif</key>
	<string>[hz惊呆]</string>
	<key>hz10.gif</key>
	<string>[hz放鞭炮]</string>
	<key>hz11.gif</key>
	<string>[hz猫王]</string>
	<key>hz12.gif</key>
	<string>[hz冷]</string>
	<key>hz13.gif</key>
	<string>[hz鼓掌]</string>
	<key>hz14.gif</key>
	<string>[hz小样]</string>
	<key>hz15.gif</key>
	<string>[hz偷笑]</string>
	<key>hz16.gif</key>
	<string>[hz爱你]</string>
	<key>hz17.gif</key>
	<string>[hz胜利]</string>
	<key>hz18.gif</key>
	<string>[hz呐喊]</string>
	<key>hz19.gif</key>
	<string>[hz发呆]</string>
	<key>hz20.gif</key>
	<string>[hz么么哒]</string>
	<key>hz21.gif</key>
	<string>[hz眨眼]</string>
	<key>hz22.gif</key>
	<string>[hz可怜]</string>
	<key>hz23.gif</key>
	<string>[hz念经]</string>
	<key>hz24.gif</key>
	<string>[hz吐]</string>
	<key>hz25.gif</key>
	<string>[hz愤怒]</string>
	<key>hz26.gif</key>
	<string>[hz切]</string>
	<key>hz27.gif</key>
	<string>[hz圣诞节]</string>
	<key>hz28.gif</key>
	<string>[hz生快]</string>
	<key>hz29.gif</key>
	<string>[hz数钱]</string>
	<key>hz30.gif</key>
	<string>[hz又数钱]</string>
	<key>hz31.gif</key>
	<string>[hz刷牙]</string>
	<key>hz32.gif</key>
	<string>[hz帅]</string>
	<key>hz33.gif</key>
	<string>[hz惊恐]</string>
	<key>hz34.gif</key>
	<string>[hz躲猫猫]</string>
	<key>hz35.gif</key>
	<string>[hz俏皮]</string>
	<key>hz36.gif</key>
	<string>[hz抠鼻]</string>
	<key>hz37.gif</key>
	<string>[hz得瑟]</string>
	<key>hz38.gif</key>
	<string>[hz乞求]</string>
	<key>hz39.gif</key>
	<string>[hz哭天喊地]</string>
	<key>hz40.gif</key>
	<string>[hz汗]</string>
	<key>hz41.gif</key>
	<string>[hz石化]</string>
	<key>hz42.gif</key>
	<string>[hz死翘翘]</string>
	<key>hz43.gif</key>
	<string>[hz疑问]</string>
	<key>hz44.gif</key>
	<string>[hz晕]</string>
	<key>hz45.gif</key>
	<string>[hz干活]</string>
	<key>hz46.gif</key>
	<string>[hz抽烟]</string>
</dict>
</plist>
