<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xy_1.gif</key>
	<string>[顶]</string>
	<key>xy_2.gif</key>
	<string>[赞]</string>
	<key>xy_3.gif</key>
	<string>[掌声]</string>
	<key>xy_4.gif</key>
	<string>[鲜花]</string>
	<key>xy_5.gif</key>
	<string>[看多]</string>
	<key>xy_6.gif</key>
	<string>[看空]</string>
	<key>xy_7.gif</key>
	<string>[震荡]</string>
</dict>
</plist>
