<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>x00.gif</key>
	<string>[xy飞行]</string>
	<key>x01.gif</key>
	<string>[xy诅咒]</string>
	<key>x02.gif</key>
	<string>[xy吓]</string>
	<key>x03.gif</key>
	<string>[xy怒]</string>
	<key>x04.gif</key>
	<string>[xy生气]</string>
	<key>x05.gif</key>
	<string>[xy吐]</string>
	<key>x06.gif</key>
	<string>[xy爱心]</string>
	<key>x07.gif</key>
	<string>[xy愤怒]</string>
	<key>x08.gif</key>
	<string>[xy倒霉]</string>
	<key>x09.gif</key>
	<string>[xy目瞪口呆]</string>
	<key>x10.gif</key>
	<string>[xy得瑟]</string>
	<key>x11.gif</key>
	<string>[xy旋转]</string>
	<key>x12.gif</key>
	<string>[xy汗]</string>
	<key>x13.gif</key>
	<string>[xy感动]</string>
	<key>x14.gif</key>
	<string>[xy拽]</string>
	<key>x15.gif</key>
	<string>[xyDuang]</string>
	<key>x16.gif</key>
	<string>[xy可怜]</string>
	<key>x17.gif</key>
	<string>[xy哦耶]</string>
	<key>x18.gif</key>
	<string>[xy委屈]</string>
	<key>x19.gif</key>
	<string>[xy拜拜]</string>
	<key>x20.gif</key>
	<string>[xy抓狂]</string>
	<key>x21.gif</key>
	<string>[xy发火]</string>
	<key>x22.gif</key>
	<string>[xy喜欢]</string>
	<key>x23.gif</key>
	<string>[xy石化]</string>
	<key>x24.gif</key>
	<string>[xygo]</string>
	<key>x25.gif</key>
	<string>[xy路过]</string>
	<key>x26.gif</key>
	<string>[xy惊吓]</string>
	<key>x27.gif</key>
	<string>[xy又发火]</string>
	<key>x28.gif</key>
	<string>[xy侠客]</string>
	<key>x29.gif</key>
	<string>[xy得意]</string>
	<key>x30.gif</key>
	<string>[xy又生气]</string>
	<key>x31.gif</key>
	<string>[xy飘过]</string>
	<key>x32.gif</key>
	<string>[xy撒娇]</string>
	<key>x33.gif</key>
	<string>[xy不好意思]</string>
	<key>x34.gif</key>
	<string>[xy痛]</string>
	<key>x35.gif</key>
	<string>[xy抠鼻]</string>
	<key>x36.gif</key>
	<string>[xy得瑟到不行]</string>
	<key>x37.gif</key>
	<string>[xy疑问]</string>
	<key>x38.gif</key>
	<string>[xy生病]</string>
	<key>x39.gif</key>
	<string>[xy无语]</string>
	<key>x40.gif</key>
	<string>[xy又路过]</string>
	<key>x41.gif</key>
	<string>[xy再次生气]</string>
	<key>x42.gif</key>
	<string>[xy兴奋]</string>
</dict>
</plist>
